/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg: #255ee9;
    --dark-grey: #23272a;
    --white: #fff;
    --mac-download: #8ea1e1;
    --footer-titles: #6f85d3;
    --section-bg: #f6f6f6;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* #endregion Common

/* #region Utilities */
.container {
    width: 70%;
}

.p-1 {
    padding: 0.5rem;
}

.dash-b {
    border: 1px dashed #000;
}

.dash-b-w {
    border: 1px dashed #fff;
}

/* #endregion Utilities */

/* #region app_header */
#app_header {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg);
    font-weight: 500;
}

#app_header .container {
    background-color: var(--nav-cont);
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0 0.7rem 0;
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 90%;
}

nav {
    width: 75%;
    color: var(--white);
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list li {
    padding: 0 1rem;
    font-size: 1rem;
}

.login {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.login button {
    background-color: var(--white);
    color: var(--dark-grey);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.2rem;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 400;
}

/* #endregion app_header */

/* #region Main */
#app_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

/* #region jumbotron */
.jumbotron {
    background-image: url('../img/jumbo.png');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-container {
    width: 45%;
    padding: 0 1rem 0 1rem;
}

.jumbotron-container h1 {
    color: var(--white);
    padding-bottom: 2rem;
    text-align: center;
}

.jumbotron-container p {
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.btn-container button {
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    margin: 0 0.5rem;
}

#download-w {
    background-color: var(--white);
    color: var(--dark-grey);
}

#open-discord {
    background-color: var(--dark-grey);
    color: var(--white);
}
/* #endregion jumbotron */

main .main-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

section .container {
    margin: 2.5rem 0;
    display: flex;

    color: var(--dark-grey);
}

.section-img {
    background-color: var(--section-img); 
    width: 70%;
}

#easy-meeting .section-img {
    display: flex;
    justify-content: flex-end;
}


.section-img img {
    width: 90%;
}
 
.section-text {
     background-color: var(--section-text);
     height: 100%;
     width: 30%;
}

h2 {
    font-size: 2.3rem;
    margin: 2rem 0 2rem 0;
}

.section-text p {
    line-height: 1.5rem;
    font-size: 1rem;
}

#easy-meeting {
    justify-items: end;
}

#safe-talk .section-text, #fandom .section-text {
    padding-left: 1.5rem;
}

#easy-meeting, #reliable {
    background-color: var(--section-bg);
}

#reliable .container {
    background-color: var(--main-footer-cont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem auto;
}

#reliable h2, #reliable p {
    text-align: center;
}

#reliable p {
    padding: 0 6rem;
}

#reliable h3 {
    width: 40%;
}



/* #endregion Main */

/* #region Footer */
#app_footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-bg);
}

#footer-top {
    height: 450px;
    width: 100%;
    display: flex;
    margin: 1rem 0 2.5rem 0;
}

#footer-top #talk {
    background-color: var(--footer-social);
    width: 30%;
    height: 100%;
}

#footer-top .columns {
    display: flex;
    width: 70%;
}

#footer-top .col {
    background-color: var(--footer-col);
    height: 100%;
    width: calc(100%/4);
}

#footer-bottom {
    height: 60px;
    width: 100%;
    margin-top: 2rem;
    background-color: var(--footer-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn {
    background-color: var(--footer-btn);
    padding: 0 0.5rem;
}
/* #endregion Footer */